.container {
    text-align: center;
}


.btn-upvote {
    margin: 5px;
}

.btn-downvote {
    margin: 5px;
}

.card{
    clear: both;
}

/* #upvote
#downvote
#voteCount
#link-btn {
    display: flex;
    /* flex-flow: wrap; */
    /* justify-content: space-around;
} */