.container {
    text-align: center;
}


.btn-upvote {
    margin: 5px;
}

.btn-downvote {
    margin: 5px;
}

.card{
    clear: both;
    background-color: lightslategray;
    font-family: 'Anonymous Pro', monospace;
}

#voteCount {
    font-size: 20px;
}

a:link {
    color: darkgreen;
}

a:visited {
    color:darkred;
}

a:hover {
    color:rebeccapurple;
}

a:active {
    color: blue;
}