.container {
    text-align: center;
}

.card{
    clear: both;
    background-color: lightslategray;
    font-family: 'Anonymous Pro', monospace;
}

.btn-upvote {
    margin: 5px;
}

.btn-downvote {
    margin: 5px;
}

#voteCount {
    font-size: 20px;
}

.card-title {
    padding-left: 10%;
}

