/* body {
    margin-top: 125px;
    margin-left: 50px;
} */
/* 
.adminAddNewPost {
    margin-top: 500px;
} */

/* h1 {
    color: purple;
    margin-top: 125px;
} */

.container {
    margin-top: 125px;
}