.category {
    font-size: 40px;
}

.border {
    text-align: center;
}

#cards{
    color: lightgreen;
    font-family: 'Anonymous Pro', monospace;
    font-size:35px;
}

.border {
    text-align: center;
    /* margin-left: 10%; */
    /* width: 60%; */
}
