.brand {
    font-family: 'Anonymous Pro', monospace;
}
.sidebar-info{
    text-align: center
}
.profileimg{
    border-radius: 50%;
    max-height: 150px;
    clear: both;
}
.team-info{
    clear: right;
}
i{
    color:black;
}